// All variables

// colors
$primary-blue: #18ACC4;
$secundary-blue: #007A8D;
$primary-yellow: #FDCB13;
$secundary-yellow: #DE9E1F;
$green: #0FA866;
$black: #1F2D30;
$grey: #FBFBFB;
$overlay-color: #1F2D30;

// Sizes:

$medium: 950px;
$small: 650px;